*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.flex{
    display:flex;
}

h1,#play{
    align-self: center;
}
#play{
width: 100%;
}
#width{
    width: 16%;
}
body{
    
    font-family: sans-serif;
    
}

h1{
    text-align: center;
}
main {
    background-color: aqua;
 
}

#container-grid{
  
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  padding: 30px 0px;
  }

  .box {
    text-align: center;
    width: 10%;
    padding: 10px 0px;
    border: 1px solid;
    cursor: pointer;
  }

  #difficoltà{
    height: 20px;
    align-self: center;
  }
  .box.clicked{
    background-color: chartreuse;

  }
  footer{
    background-color: white;
    padding: 20px;
    height: 150px;
  }